# Compiled Object files
*.slo
*.lo
*.o
*.out

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#Vim Swap Files
*.swp
*.swo
*.txt
*.gch
*.exe
*.Debug
*.Release

#QT Creator Stuff
*.pro
*.user
*.configs
*.files
*.includes
